body{
  background-color: rgba(248, 220, 96, 0.97);
}

/* Navbar */
/* src/navbar.css */
.home{
  background-color: rgba(248, 220, 96, 0.97);
  padding: 20px 0;
}
.home img{
  height: 80vh;
}
.home .home-text {
  align-items: center;
  margin: auto;
  overflow: hidden;
}
.home .home-text h1{
  font-style: oblique;
  font-size: 70px;
}
.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

/* src/navbar.css */

.link i:nth-child(1){
  text-align: center;
  margin-right: 1px;
} 

.link{
  font-size: 15px;
  color: black;
  border-radius: 50%;
  align-items: center;
  margin-left: 0px;
  text-decoration: none;
}
.link:hover{
color:red;
 
}
.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 10px;
}

.nav-link {
  margin: 0 10px;
  font-size: 15px;
  font-weight: bold;
}
.Link{
  color:#453f3f!important ;
    text-decoration: none !important ;
}
.text{
  color: rgb(34, 31, 31);
}
.text:hover{
  color: rgb(83, 78, 78);
}

.navbar-nav {
  flex-grow: 2;
  justify-content: end;
}

/* Login */
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
  height: 100%;
  }
}


/* social footer */

.social a{
  margin-right: 20px;
}
.social a i{
 font-size: large;
 margin-bottom: 10px;
 color: rgb(255, 243, 108);
 transition: 0.3s;
}
.social a i:hover{
 color: orange;
 transform: scale(1.5);
}